<div class="u-container">
    <p>
        We want to show a profile based on the profileId which is provided in the query-params. What's the best way to
        retrieve the profile from the profile-api service and show it's properties here? When the query param changes
        we want to subscribe to the api only once.
    </p>
    <p>
        Extension 1: Show the id and company in a new div as: `User with id 100 works at Deminimum`.
    </p>
    <p>Extension 2: If the view is mobile only show `User 100: Deminimum`</p>

    <div class="buttons">
        <button mat-raised-button color="primary" routerLink="./" [queryParams]="{ profileId: 100 }">Set profileId to 100</button>
        <button mat-raised-button color="primary" routerLink="./" [queryParams]="{ profileId: 101 }">Set profileId to 101</button>
        <button mat-raised-button color="primary" routerLink="./" [queryParams]="{ profileId: 102 }">Set profileId to 102</button>
        <button mat-raised-button color="primary" routerLink="./" [queryParams]="{ profileId: 103 }">Set profileId to 103</button>
        <button mat-raised-button color="primary" routerLink="./" [queryParams]="{ profileId: 'test' }">Set profileId to 104?</button>
    </div>

    <div class="terminal">
        <pre>
export class QueryParamComponent implements OnInit &#123;
    public profile: IProfile | null;

    constructor(
        private activatedRoute: ActivatedRoute,
        private profileApiService: ProfileApiService,
    ) &#123; &#125;

    ngOnInit(): void &#123;
        this.activatedRoute.queryParams
            .subscribe(params => console.log(params));

        this.profileApiService.getProfileById(102);
    &#125;
&#125;
        </pre>
    </div>

<!--    Don't change anything above this line-->

    <div class="terminal">
        <pre>{{ (profile | json) || 'No profile provided' }}</pre>
    </div>
</div>
