<div class="u-container">
    <p>
        Some of these exercises can be solved without RxJS but try to use only observables, subjects, pipes,... if possible.
        Try to think about the edge cases and that it's possible an api call won't succeed.
    </p>
    <ol>
        <li>Show login or logout button based on if the user is authenticated.</li>
        <li>Show a snackbar when the user logs in in the app.</li>
        <li>Create a new component + route that is only accessible when the user is logged in.</li>
        <li>Keep track of how many times the token has been refreshed. Reset counter if the user signs out.</li>
        <li>Retrieve the first profile of the current user and show it's properties.</li>
        <li>Show a button for each profile to switch between them. On click load the selected profile based on the id,
            if the profile has already been loaded don't get it from the api again.</li>
    </ol>

    <div class="buttons">
        <button mat-raised-button color="primary" (click)="login()">Login user</button>
        <button mat-raised-button color="primary" (click)="logout()">Logout user</button>
        <button mat-raised-button color="primary" (click)="refreshToken()">Refresh token</button>
    </div>

    <div class="terminal">
        <pre>Show the user's email here.</pre>
    </div>
</div>
